.county {
  stroke: black;
  stroke-width: 0.3;
}

.county:hover{
  stroke-width: 1.5;
}

.labels {
  font-family: sans-serif;
  font-size: 11px;
  fill: #3c373d;
}

body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  fill: #8C8C8C;
  text-align: center;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: #fff;
  border: 0px;
  pointer-events: none;
}

.axis path, .axis tick, .axis line {
  fill: none;
  stroke: none;
}

.legendTitle {
  font-size: 15px;
  fill: #4F4F4F;
  font-weight: 300;
}

.axis text {
  fill: #404040;
  font-weight: 400;
}