.county {
  stroke: black;
  stroke-width: 0.3;
  opacity: 1;
}

.county:hover {
  stroke-width: 1.5;
}
.active {
  stroke: black;
  stroke-width: 1.2;
  opacity: 1;
}

.inactive {
  stroke: black;
  stroke-width: 0.3;
  fill: grey;
  opacity: 0;
}

.labels {
  font-family: sans-serif;
  font-size: 11px;
  fill: #3c373d;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: #fff;
  border: 0px;
  pointer-events: none;
}

div.newDataTip {
  position: absolute;
  text-align: center;
  width: 400px;
  height: 300px;
  padding: 2px;
  font: 12px sans-serif;
  background: #ddd;
  border: 0px;
  pointer-events: none;
  margin: -100px;
  text-align: left;
  /* vertical-align: center; */
}

div.newDataTip h2 {
  padding: 0px;
  margin-bottom: 0px;
}
.axis path,
.axis tick,
.axis line {
  fill: none;
  stroke: none;
}

.legendTitle {
  font-size: 15px;
  fill: #4f4f4f;
  font-weight: 300;
}

.axis text {
  fill: #404040;
  font-weight: 400;
}

html,
body {
  height: 100%;
  padding: 0;
  scroll-behavior: smooth;
  background: #f7f5f2;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
h2 {
  line-height: 1.25;
  padding-top: 90px;
  font-weight: 300;
}
svg {
  padding: 20px;
}
text {
  font-size: 10px;
}
strong {
  font-weight: 600;
}
#graphic {
  max-width: 700px;
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.container {
  height: 100%;
  max-width: 700px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  line-height: 1.5;
  left: 200px;
}

.container div {
  height: 100%;
  display: block;
  padding: 0 45px;
}

#map {
  margin: -500px;
}
.fixed {
  position: fixed;
  max-width: 500px;
  height: 500px;
  top: 50px;
}

#div6 {
  height: 600px;
}

#div7 {
  height: 300px;
}
#div8 {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  text-align: center;
  font-size: 30px;
  width: 300px;
  height: 200px;
  float: left;
  /* margin-bottom: 800px; */
  /* margin: auto; */
  /* margin-bottom: 20px; */
}

#div8 p {
  margin: 10px;
}

#map {
  margin-top: -50px;
}
